# -*- conf -*-
# MODE: development | production
MODE=production

HOST=127.0.0.1
PORT=1337

DB_NAME=dex
DB_USERNAME=john
# DB_PASSWORD=
# DB_ADDRESS=127.0.0.1:3306
# DB_PROTOCOL: tcp | unix
# DB_PROTOCOL=tcp

# TRUSTED_PROXIES=127.0.0.1
BASE_URL=http://localhost:1337
API_KEY=foo
NOTIFY_DSN=smtp://user:pass@smtp.example.com:587?from=sender@example.com&from_name=dex&to=recipient@example.com
